In [1]:
# Dependencies
import pandas as pd

# We also need to do a pip install geopy before running this code
from geopy.geocoders import Nominatim
import numpy as np

In [2]:
# Make a reference to the comic_books_expanded.csv file path
csv_path = "Data/Uber_Lyft_data.csv"
# Initialize Nominatim API
geolocator = Nominatim(user_agent="MyApp")

# Import the rideshare_kaggle.csv file as a DataFrame
rides_df = pd.read_csv(csv_path, encoding="utf-8")

# Check the special characters imported correctly
rides_df

,hour,day,month,datetime,source,destination,cab_type,name,price,distance,...,short_summary,precipIntensity,humidity,windSpeed,visibility,dewPoint,pressure,moonPhase,source_lat,source_longitude
0,9,16,12,2018-12-16 09:30:07,Haymarket Square,North Station,Lyft,Shared,5.0,0.44,...,Mostly Cloudy,0.0000,0.68,8.66,10.000,32.70,1021.98,0.30,42.362950,-71.057845
1,2,27,11,2018-11-27 02:00:23,Haymarket Square,North Station,Lyft,Lux,11.0,0.44,...,Rain,0.1299,0.94,11.98,4.786,41.83,1003.97,0.64,42.362950,-71.057845
2,1,28,11,2018-11-28 01:00:22,Haymarket Square,North Station,Lyft,Lyft,7.0,0.44,...,Clear,0.0000,0.75,7.33,10.000,31.10,992.28,0.68,42.362950,-71.057845
3,4,30,11,2018-11-30 04:53:02,Haymarket Square,North Station,Lyft,Lux Black XL,26.0,0.44,...,Clear,0.0000,0.73,5.28,10.000,26.64,1013.73,0.75,42.362950,-71.057845
4,3,29,11,2018-11-29 03:49:20,Haymarket Square,North Station,Lyft,Lyft XL,9.0,0.44,...,Partly Cloudy,0.0000,0.70,9.14,10.000,28.61,998.36,0.72,42.362950,-71.057845
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693066,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,UberXL,13.0,1.00,...,Partly Cloudy,0.0000,0.74,2.34,9.785,29.65,1023.57,0.82,42.363919,-71.063899
693067,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,UberX,9.5,1.00,...,Partly Cloudy,0.0000,0.74,2.34,9.785,29.65,1023.57,0.82,42.363919,-71.063899
693068,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,Taxi,NaN,1.00,...,Partly Cloudy,0.0000,0.74,2.34,9.785,29.65,1023.57,0.82,42.363919,-71.063899
693069,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,Black SUV,27.0,1.00,...,Partly Cloudy,0.0000,0.74,2.34,9.785,29.65,1023.57,0.82,42.363919,-71.063899
693070,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,UberPool,10.0,1.00,...,Partly Cloudy,0.0000,0.74,2.34,9.785,29.65,1023.57,0.82,42.363919,-71.063899

In [3]:
rides_df = rides_df.dropna()
rides_df

,hour,day,month,datetime,source,destination,cab_type,name,price,distance,...,short_summary,precipIntensity,humidity,windSpeed,visibility,dewPoint,pressure,moonPhase,source_lat,source_longitude
0,9,16,12,2018-12-16 09:30:07,Haymarket Square,North Station,Lyft,Shared,5.0,0.44,...,Mostly Cloudy,0.0000,0.68,8.66,10.000,32.70,1021.98,0.30,42.362950,-71.057845
1,2,27,11,2018-11-27 02:00:23,Haymarket Square,North Station,Lyft,Lux,11.0,0.44,...,Rain,0.1299,0.94,11.98,4.786,41.83,1003.97,0.64,42.362950,-71.057845
2,1,28,11,2018-11-28 01:00:22,Haymarket Square,North Station,Lyft,Lyft,7.0,0.44,...,Clear,0.0000,0.75,7.33,10.000,31.10,992.28,0.68,42.362950,-71.057845
3,4,30,11,2018-11-30 04:53:02,Haymarket Square,North Station,Lyft,Lux Black XL,26.0,0.44,...,Clear,0.0000,0.73,5.28,10.000,26.64,1013.73,0.75,42.362950,-71.057845
4,3,29,11,2018-11-29 03:49:20,Haymarket Square,North Station,Lyft,Lyft XL,9.0,0.44,...,Partly Cloudy,0.0000,0.70,9.14,10.000,28.61,998.36,0.72,42.362950,-71.057845
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693065,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,WAV,9.5,1.00,...,Partly Cloudy,0.0000,0.74,2.34,9.785,29.65,1023.57,0.82,42.363919,-71.063899
693066,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,UberXL,13.0,1.00,...,Partly Cloudy,0.0000,0.74,2.34,9.785,29.65,1023.57,0.82,42.363919,-71.063899
693067,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,UberX,9.5,1.00,...,Partly Cloudy,0.0000,0.74,2.34,9.785,29.65,1023.57,0.82,42.363919,-71.063899
693069,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,Black SUV,27.0,1.00,...,Partly Cloudy,0.0000,0.74,2.34,9.785,29.65,1023.57,0.82,42.363919,-71.063899
693070,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,UberPool,10.0,1.00,...,Partly Cloudy,0.0000,0.74,2.34,9.785,29.65,1023.57,0.82,42.363919,-71.063899

# Data Cleaning
We want to fit a model to predict the price. We think the distance, dya of the week, weather and type of ride impact the price.
Before we can create our models, we need to change the categorical variable of intererest into a few dummy variables for each category.

In [4]:
df = pd.DataFrame(rides_df)
#df['datetime'] = pd.to_datetime(df['datetime'])
#df['day_of_week'] = df['datetime'].dt.dayofweek

#days = {0:'Monday',1:'Tuesday',2:'Wednesday',3:'Thursday',4:'Friday',5:'Saturday',6:'Sunday'}

#df['day_of_week'] = df['day_of_week'].apply(lambda x: days[x])
#df
from datetime import datetime
weekday = df.datetime.apply(lambda x: datetime.fromisoformat(str(x)).weekday())
df['Monday'] = (weekday==0).astype(int)
df['Tuesday'] = (weekday==1).astype(int)
df['Wednesday'] = (weekday==2).astype(int)
df['Thursday'] = (weekday==3).astype(int)
df['Friday'] = (weekday==4).astype(int)
df['Saturday'] = (weekday==5).astype(int)
df['Sunday'] = (weekday==6).astype(int)
df

,hour,day,month,datetime,source,destination,cab_type,name,price,distance,...,moonPhase,source_lat,source_longitude,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,9,16,12,2018-12-16 09:30:07,Haymarket Square,North Station,Lyft,Shared,5.0,0.44,...,0.30,42.362950,-71.057845,0,0,0,0,0,0,1
1,2,27,11,2018-11-27 02:00:23,Haymarket Square,North Station,Lyft,Lux,11.0,0.44,...,0.64,42.362950,-71.057845,0,1,0,0,0,0,0
2,1,28,11,2018-11-28 01:00:22,Haymarket Square,North Station,Lyft,Lyft,7.0,0.44,...,0.68,42.362950,-71.057845,0,0,1,0,0,0,0
3,4,30,11,2018-11-30 04:53:02,Haymarket Square,North Station,Lyft,Lux Black XL,26.0,0.44,...,0.75,42.362950,-71.057845,0,0,0,0,1,0,0
4,3,29,11,2018-11-29 03:49:20,Haymarket Square,North Station,Lyft,Lyft XL,9.0,0.44,...,0.72,42.362950,-71.057845,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693065,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,WAV,9.5,1.00,...,0.82,42.363919,-71.063899,0,0,0,0,0,1,0
693066,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,UberXL,13.0,1.00,...,0.82,42.363919,-71.063899,0,0,0,0,0,1,0
693067,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,UberX,9.5,1.00,...,0.82,42.363919,-71.063899,0,0,0,0,0,1,0
693069,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,Black SUV,27.0,1.00,...,0.82,42.363919,-71.063899,0,0,0,0,0,1,0
693070,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,UberPool,10.0,1.00,...,0.82,42.363919,-71.063899,0,0,0,0,0,1,0

In [5]:
##change short summry of weather to binary variables
print(df.short_summary.unique())
for i in df.short_summary.unique():
    df[i] = (df.name == i).astype('int')

[' Mostly Cloudy ' ' Rain ' ' Clear ' ' Partly Cloudy ' ' Overcast '
 ' Light Rain ' ' Foggy ' ' Possible Drizzle ' ' Drizzle ']

In [6]:
df

,hour,day,month,datetime,source,destination,cab_type,name,price,distance,...,Sunday,Mostly Cloudy,Rain,Clear,Partly Cloudy,Overcast,Light Rain,Foggy,Possible Drizzle,Drizzle
0,9,16,12,2018-12-16 09:30:07,Haymarket Square,North Station,Lyft,Shared,5.0,0.44,...,1,0,0,0,0,0,0,0,0,0
1,2,27,11,2018-11-27 02:00:23,Haymarket Square,North Station,Lyft,Lux,11.0,0.44,...,0,0,0,0,0,0,0,0,0,0
2,1,28,11,2018-11-28 01:00:22,Haymarket Square,North Station,Lyft,Lyft,7.0,0.44,...,0,0,0,0,0,0,0,0,0,0
3,4,30,11,2018-11-30 04:53:02,Haymarket Square,North Station,Lyft,Lux Black XL,26.0,0.44,...,0,0,0,0,0,0,0,0,0,0
4,3,29,11,2018-11-29 03:49:20,Haymarket Square,North Station,Lyft,Lyft XL,9.0,0.44,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693065,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,WAV,9.5,1.00,...,0,0,0,0,0,0,0,0,0,0
693066,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,UberXL,13.0,1.00,...,0,0,0,0,0,0,0,0,0,0
693067,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,UberX,9.5,1.00,...,0,0,0,0,0,0,0,0,0,0
693069,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,Black SUV,27.0,1.00,...,0,0,0,0,0,0,0,0,0,0
693070,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,UberPool,10.0,1.00,...,0,0,0,0,0,0,0,0,0,0

In [7]:
## split data for uber and lyft
lyft = df[:][df.cab_type == "Lyft"]
uber = df[:][df.cab_type == "Uber"]

In [8]:
print(lyft.name.unique())
print(uber.name.unique())

['Shared' 'Lux' 'Lyft' 'Lux Black XL' 'Lyft XL' 'Lux Black']
['UberXL' 'Black' 'UberX' 'WAV' 'Black SUV' 'UberPool']

In [9]:
#Creat biary variables for uber and lyft cab type
for i in lyft.name.unique():
    lyft[i] = (lyft.name == i).astype('int')

for i in uber.name.unique():
    uber[i] = (uber.name == i).astype('int')

In [10]:
lyft

,hour,day,month,datetime,source,destination,cab_type,name,price,distance,...,Light Rain,Foggy,Possible Drizzle,Drizzle,Shared,Lux,Lyft,Lux Black XL,Lyft XL,Lux Black
0,9,16,12,2018-12-16 09:30:07,Haymarket Square,North Station,Lyft,Shared,5.0,0.44,...,0,0,0,0,1,0,0,0,0,0
1,2,27,11,2018-11-27 02:00:23,Haymarket Square,North Station,Lyft,Lux,11.0,0.44,...,0,0,0,0,0,1,0,0,0,0
2,1,28,11,2018-11-28 01:00:22,Haymarket Square,North Station,Lyft,Lyft,7.0,0.44,...,0,0,0,0,0,0,1,0,0,0
3,4,30,11,2018-11-30 04:53:02,Haymarket Square,North Station,Lyft,Lux Black XL,26.0,0.44,...,0,0,0,0,0,0,0,1,0,0
4,3,29,11,2018-11-29 03:49:20,Haymarket Square,North Station,Lyft,Lyft XL,9.0,0.44,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693042,1,29,11,2018-11-29 01:03:40,Theatre District,Fenway,Lyft,Lyft XL,16.5,3.11,...,0,0,0,0,0,0,0,0,1,0
693043,1,29,11,2018-11-29 01:03:40,Theatre District,Fenway,Lyft,Lux,22.5,3.11,...,0,0,0,0,0,1,0,0,0,0
693048,1,29,11,2018-11-29 01:47:08,Theatre District,Fenway,Lyft,Shared,7.0,3.11,...,0,0,0,0,1,0,0,0,0,0
693051,1,29,11,2018-11-29 01:47:08,Theatre District,Fenway,Lyft,Lyft,10.5,3.11,...,0,0,0,0,0,0,1,0,0,0
693053,1,29,11,2018-11-29 01:47:08,Theatre District,Fenway,Lyft,Lux Black XL,32.5,3.11,...,0,0,0,0,0,0,0,1,0,0

In [11]:
uber

,hour,day,month,datetime,source,destination,cab_type,name,price,distance,...,Light Rain,Foggy,Possible Drizzle,Drizzle,UberXL,Black,UberX,WAV,Black SUV,UberPool
12,22,30,11,2018-11-30 22:13:01,North End,West End,Uber,UberXL,12.0,1.11,...,0,0,0,0,1,0,0,0,0,0
13,10,13,12,2018-12-13 10:50:11,North End,West End,Uber,Black,16.0,1.11,...,0,0,0,0,0,1,0,0,0,0
14,19,13,12,2018-12-13 19:15:03,North End,West End,Uber,UberX,7.5,1.11,...,0,0,0,0,0,0,1,0,0,0
15,23,16,12,2018-12-16 23:55:11,North End,West End,Uber,WAV,7.5,1.11,...,0,0,0,0,0,0,0,1,0,0
16,0,14,12,2018-12-14 00:40:07,North End,West End,Uber,Black SUV,26.0,1.11,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693065,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,WAV,9.5,1.00,...,0,0,0,0,0,0,0,1,0,0
693066,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,UberXL,13.0,1.00,...,0,0,0,0,1,0,0,0,0,0
693067,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,UberX,9.5,1.00,...,0,0,0,0,0,0,1,0,0,0
693069,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,Black SUV,27.0,1.00,...,0,0,0,0,0,0,0,0,1,0
693070,23,1,12,2018-12-01 23:53:05,West End,North End,Uber,UberPool,10.0,1.00,...,0,0,0,0,0,0,0,0,0,1

# LASSO MODEL

In [12]:
from numpy import arange
from sklearn.linear_model import LassoCV
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import train_test_split

In [13]:
lyft_X = lyft[['distance','Monday', 'Tuesday', 'Wednesday', 'Thursday','Friday', 'Saturday','Sunday',
               'Shared', 'Lyft XL', 'Lux Black XL', 'Lux', 'Lux Black', 'Lyft', #Use Lyft as the baseline
               ' Mostly Cloudy ', ' Rain ', ' Partly Cloudy ', ' Clear ', #Use Clear as baseline
               ' Overcast ', ' Light Rain ', ' Foggy ', ' Possible Drizzle ',
               ' Drizzle ']]
lyft_y = lyft['price']

#train test split
lyft_X_train, lyft_X_test, lyft_y_train, lyft_y_test = train_test_split(
    lyft_X, lyft_y, test_size=0.20, random_state=325)

#cv
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)

#define model
lyft_lasso_model = LassoCV(cv=cv)

#fit model
lyft_lasso_model.fit(lyft_X_train, lyft_y_train)

#display lambda that produced the lowest test MSE
print(lyft_lasso_model.alpha_)

0.003923518277292396

In [14]:
print('LASSO Lyft train: %.4f' % lyft_lasso_model.score(lyft_X_train,lyft_y_train))
print('LASSO Lyft test: %.4f' % lyft_lasso_model.score(lyft_X_test,lyft_y_test))

LASSO Lyft train: 0.8766
LASSO Lyft test: 0.8766

In [19]:
lyft_y_pred = lyft_lasso_model.predict(lyft_X_test)
#lyft_lasso_mse = mean_squared_error(lyft_y_pred, lyft_y_test)
#lyft_lasso_rmse = np.sqrt(lyft_lasso_mse)
#print('LASSO test RMSE: %.4f' % lyft_lasso_rmse)

In [20]:
errors_lyft = abs(lyft_y_pred - lyft_y_test)
mape_lyft = 100 * (errors_lyft / lyft_y_test)
lyft_lasso_accuracy = 100 - np.mean(mape_lyft)
print('LASSO Lyft Accuracy:', round(lyft_lasso_accuracy, 2), '%.')

LASSO Lyft Accuracy: 83.66 %.

In [21]:
lyft_lasso_coefs = pd.concat([pd.Series(lyft_X.columns), pd.Series(lyft_lasso_model.coef_)], axis=1)
lyft_lasso_coefs.columns = ['Variable','Coefficient']
lyft_lasso_coefs.transpose()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
Variable,distance,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Shared,Lyft XL,...,Lyft,Mostly Cloudy,Rain,Partly Cloudy,Clear,Overcast,Light Rain,Foggy,Possible Drizzle,Drizzle
Coefficient,3.325475,0.0,0.0,0.0,-0.0,0.0,-0.0,-0.0,-11.695202,-2.406758,...,-8.110893,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
uber_X = uber[['distance','Monday', 'Tuesday', 'Wednesday', 'Thursday','Friday', 'Saturday','Sunday',
               'UberPool','UberXL','Black','Black SUV', 'WAV', 'UberX', #Use UberX as base line
               ' Mostly Cloudy ', ' Rain ', ' Partly Cloudy ', ' Clear ',#Use Clear as baseline
               ' Overcast ', ' Light Rain ', ' Foggy ', ' Possible Drizzle ',
               ' Drizzle ']]
uber_y = uber['price']

#train test split
uber_X_train, uber_X_test, uber_y_train, uber_y_test = train_test_split(
    uber_X, uber_y, test_size=0.20, random_state=325)

#cv
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)

#define model
uber_lasso_model = LassoCV(cv=cv)

#fit model
uber_lasso_model.fit(uber_X_train, uber_y_train)

#display lambda that produced the lowest test MSE
print(uber_lasso_model.alpha_)

0.0033933817828505916

In [23]:
print('LASSO Uber train: %.4f' % uber_lasso_model.score(uber_X_train,uber_y_train))
print('LASSO Uber test: %.4f' % uber_lasso_model.score(uber_X_test,uber_y_test))

LASSO Uber train: 0.9200
LASSO Uber test: 0.9187

In [24]:
uber_y_pred = uber_lasso_model.predict(uber_X_test)
#uber_lasso_mse = mean_squared_error(uber_y_pred, uber_y_test)
#uber_lasso_rmse = np.sqrt(uber_lasso_mse)
#print('LASSO Uber test RMSE: %.4f' % uber_lasso_rmse)

In [25]:
errors = abs(uber_y_pred - uber_y_test)
mape = 100 * (errors / uber_y_test)
uber_lasso_accuracy = 100 - np.mean(mape)
print('LASSO Uber Accuracy:', round(uber_lasso_accuracy, 2), '%.')

LASSO Uber Accuracy: 88.15 %.

In [26]:
uber_lasso_coefs = pd.concat([pd.Series(uber_X.columns), pd.Series(uber_lasso_model.coef_)], axis=1)
uber_lasso_coefs.columns = ['Variable','Coefficient']
uber_lasso_coefs.transpose()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
Variable,distance,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,UberPool,UberXL,...,UberX,Mostly Cloudy,Rain,Partly Cloudy,Clear,Overcast,Light Rain,Foggy,Possible Drizzle,Drizzle
Coefficient,2.438622,0.0,0.004201,-0.0,0.0,-0.0,0.0,-0.0,-6.870399,0.0,...,-5.857682,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# LINEAR REGRESSION

In [27]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import mean_squared_error

In [28]:
lr = LinearRegression() 
lm_model = lr.fit(lyft_X_train, lyft_y_train)
lyft_y_pred = lm_model.predict(lyft_X_test)
l_lr_train_r2 = lr.score(lyft_X_train, lyft_y_train)
l_lr_test_r2 = lr.score(lyft_X_test, lyft_y_test)
print('Linear Regression Lyft train: %.4f' % l_lr_train_r2)
print('Linear Regression Lyft test: %.4f' % l_lr_test_r2)

lyft_lr_mse = mean_squared_error(lyft_y_pred, lyft_y_test)
lyft_lr_rmse = np.sqrt(lyft_lr_mse)
print('Linear Regression Lyft RMSE: %.4f' % lyft_lr_rmse)

errors = abs(lyft_y_pred - lyft_y_test)
mape = 100 * (errors / lyft_y_test)
lyft_lr_accuracy = 100 - np.mean(mape)
print('Linear Regression Lyft Accuracy:', round(lyft_lr_accuracy, 2), '%.')

Linear Regression Lyft train: 0.8766
Linear Regression Lyft test: 0.8766
Linear Regression Lyft RMSE: 3.5262
Linear Regression Lyft Accuracy: 83.62 %.

In [29]:
lr = LinearRegression() 
lm_model = lr.fit(uber_X_train, uber_y_train)
uber_y_pred = lm_model.predict(uber_X_test)
u_lr_train_r2 = lr.score(uber_X_train, uber_y_train)
u_lr_test_r2 = lr.score(uber_X_test, uber_y_test)
print('Linear Regression Uber train: %.4f' % u_lr_train_r2)
print('Linear Regression Uber test: %.4f' % u_lr_test_r2)

uber_lr_mse = mean_squared_error(uber_y_pred, uber_y_test)
uber_lr_rmse = np.sqrt(uber_lr_mse)
print('Linear Regression Uber RMSE: %.4f' % uber_lr_rmse)

errors = abs(uber_y_pred - uber_y_test)
mape = 100 * (errors / uber_y_test)
uber_lr_accuracy = 100 - np.mean(mape)
print('Linear Regression Uber Accuracy:', round(uber_lr_accuracy, 2), '%.')

Linear Regression Uber train: 0.9200
Linear Regression Uber test: 0.9188
Linear Regression Uber RMSE: 2.4425
Linear Regression Uber Accuracy: 88.13 %.

# RANDOM FOREST

In [30]:
from sklearn.ensemble import RandomForestRegressor

In [31]:
regr_l = RandomForestRegressor(n_estimators = 40, random_state = 42)
regr_model_l = regr_l.fit(lyft_X_train, lyft_y_train)
l_rf_train_r2 = regr_l.score(lyft_X_train,lyft_y_train)
l_rf_test_r2 = regr_l.score(lyft_X_test, lyft_y_test)
print('Random Forest Lyft train: %.4f' % l_rf_train_r2)
print('Random Forest Lyft test": %.4f' % l_rf_test_r2)

Random Forest Lyft train: 0.9138
Random Forest Lyft test": 0.8953

In [32]:
predictions_l = regr_model_l.predict(lyft_X_test)
l_forest_mse = mean_squared_error(predictions_l, lyft_y_test)
l_forest_rmse = np.sqrt(l_forest_mse)
print('Random Forest Lyft RMSE: %.4f' % l_forest_rmse)

Random Forest Lyft RMSE: 3.2470

In [33]:
errors_l = abs(predictions_l - lyft_y_test)
mape_l = 100 * (errors_l / lyft_y_test)
lyft_rf_accuracy = 100 - np.mean(mape_l)
print('Random Forest Lyft Accuracy:', round(lyft_rf_accuracy, 2), '%.')

Random Forest Lyft Accuracy: 88.88 %.

In [34]:
import pickle
filename = 'Data/l_model.sav'
pickle.dump(regr_l, open(filename, 'wb'))

In [35]:
regr_u = RandomForestRegressor(n_estimators = 40, random_state = 42)
regr_uber_model = regr_u.fit(uber_X_train, uber_y_train)
u_rf_train_r2 = regr_u.score(uber_X_train,uber_y_train)
u_rf_test_r2 = regr_u.score(uber_X_test, uber_y_test)
print('Random Forest Uber train: %.4f' % u_rf_train_r2)
print('Random Forest Lyft test: %.4f' % u_rf_test_r2)

Random Forest Uber train: 0.9547
Random Forest Lyft test: 0.9469

In [36]:
u_predictions = regr_uber_model.predict(uber_X_test)
u_forest_mse = mean_squared_error(u_predictions, uber_y_test)
u_forest_rmse = np.sqrt(u_forest_mse)
print('Random Forest Lyft RMSE: %.4f' % u_forest_rmse)

Random Forest Lyft RMSE: 1.9742

In [37]:
errors_u = abs(u_predictions - uber_y_test)
mape_u = 100 * (errors_u / uber_y_test)
uber_rf_accuracy = 100 - np.mean(mape_u)
print('Random Forest Uber Accuracy:', round(uber_rf_accuracy, 2), '%.')

Random Forest Uber Accuracy: 91.71 %.

In [38]:
import pickle
filename = 'Data/u_model.sav'
pickle.dump(regr_u, open(filename, 'wb'))